{% load static %}
<html>
    <head>
        <title>Minimalist</title>
        <link rel="stylesheet" href="{% static 'css/createArticle.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'postNew' %}" class="topMenu"></a>
            <h1><a href="/">Minimalist</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                </div>
            </div>
        </div>
    </body>
</html>