{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/postDetail.css' %}">

  <div class="post">
    <div class="postTitle">
      <h2>{{ post.title }}</h2>
    </div>
    <div class="postSubtitle">
      <p class="subtitle"> {{post.subtitle}} <p>
    </div>
    <div class="categories">
      {% for categ in post.category.all %}
        <p class="category">{{categ}}</p>
      {% endfor %}
    </div>
    {% if post.published_date %}
      <div class="authorDate">
        <p class="author"> {{post.author}} <p>
        <p class="date">{{ post.published_date }}</p>
      </div>
      {% if post.author == user %}
        <a class="btnDefault" href="{% url 'postEdit' pk=post.pk %}">Editar Post</a>
        <a class="btnDefault" href="{% url 'postRemove' pk=post.pk %}">Excluir Post</a>
      {% endif %}
    {% else %}
        <a class="btnDefault" href="{% url 'postPublish' pk=post.pk %}">Publish</a>
    {% endif %}
    <div class="postText">
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  </div>
{% endblock %}


/*
Pesquisa por autor
Ordenar por data de postagem
*/