{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/postDetail.css' %}">

  <div class="post">
    <div class="postTitle">
      <h2>{{ post.title }}</h2>
    </div>
    <div class="postSubtitle">
      <p class="subtitle"> {{post.subtitle}} <p>
    </div>
    <div class="categories">
      {% for categ in post.category.all %}
        <p class="category">{{categ}}</p>
      {% endfor %}
    </div>
    {% if post.published_date %}
      <div class="date">
          {{ post.published_date }}
      </div>
      <a class="btn btn-default" href="{% url 'postRemove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% else %}
        <a class="btn btn-default" href="{% url 'postPublish' pk=post.pk %}">Publish</a>
    {% endif %}
    <div class="postText">
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  </div>
{% endblock %}