{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">
        <div class="postTitle">
          <h2><a href="{% url 'postDetail' pk=post.pk %}">{{ post.title }}</a></h2>
        </div>
        <div class="postSubtitle">
          <p class="subtitle"> {{post.subtitle}} <p>
        </div>
        <div class="categories">
          {% for categ in post.category.all %}
            <p class="category">{{categ}}</p>
          {% endfor %}
        </div>
        <p class="date">{{ post.published_date }}</p>
    </div>
  {% endfor %}
{% endblock %}